#question {
  background-color: white;
  color: black;
  position: absolute;
  bottom: 2%;
  top: 2%;
  left: 1%;
  right: 1%;
  border-radius: 3px;
  padding: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#home table, #home td, #home tr, #home th {
  border: 4px solid black;
  border-collapse: collapse;
}
.preYesNo td{
  padding: 10px;
}
.button_green, .button_rank, .button_red{
  width: 50px;
  height: 50px;
  font-size: larger;
  color: white;
}
.button_green{
  background-color: green;
}
.button_red{
  background-color: red;
}
.button_rank{
  background-color: gray;
}
.blue {
  background-color: blue;
  color: white;
  text-align: left;
  padding: 5px;
}
.blueLetter {
  color: blue;
}
.red {
  background-color: red;
  color: white;
  text-align: right;
  padding: 5px;
}
.redLetter {
  color: red;
}
#initialNext {
  background-color: #500778;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  font-weight: bold;
  border-color: #500778;
}
#initialNext:hover {
  background-color: white;
  color: #500778;
}
#headerButton {
  background-color: #500778;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  padding: 2px 2px;
  font-weight: bold;
  width: 100px;
  border-style: outset;
  border-color: #500778;
  border-width: 3px;
}
#header table, #header td, #header tr, #header th {
  padding: 0;
  overflow: hidden;
  border-collapse: collapse;
  border: 3px solid #500778;
}
#nodeTable, #nodeTable td, #nodeTable tr {
  border: 4px solid black;
  border-collapse: collapse;
  padding: 0px;
}
#nodeTable {
  width: 100%;
}
[name = "node"] {
  width: 100%;
  height: 80;
  font-size: larger;
  font-weight: bold;
}
.cube {
  background-color: purple;
  border-style: outset;
  border-color: purple;
  border-width: 5px;
}
.other {
  background-color: gray;
  border-style: outset;
  border-color: gray;
  border-width: 5px;
}
.cone {
  background-color: yellow;
  border-style: outset;
  border-color: yellow;
  border-width: 5px;
}
#autoPickupTable {
  width: 100%;
  border-style: none;
}
.pickup {
  display: block;
  margin: auto;
  width: 80px;
  height: 80px;
  background-color: gray;
  border: 4px solid black;
  border-collapse: collapse;
}
#autoDropdownTable {
  width: 100%;
  border-style: none;
}
#autoDropdownTable td {
  width: 33.33%;
  text-align: center;
}
#autoDropdownTable select {
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#teleTable table {
  border-collapse: collapse;
}
#teleTable th, #teleTable td {
  padding: 16px;
  border-bottom: 4px solid black;
}
#teleTable td {
  width: 60px;
  text-align: center;
}
.incrementor table, .incrementor td, .incrementor tr, .incrementor .th {
  border: 4px solid black;
  border-collapse: collapse;
}
.incrementor {
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.incrementor td {
  width: 50px;
  height: 50px;
  padding: 0;
  text-align: center;
  border: none;
}
.incrementor button {
  width: 50px;
  height: 50px;
  border-radius: 0;
  text-align: center;
  font-size: xx-large;
  text-align: center;
  display: block;
  margin: auto;
}
input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: larger;
  font-weight: bolder;
}
#end button{
  width: 100%;
}
#end td{
  padding: 8px;
}
#end th{
  font-size: large;
}
.numpad button{
  width: 50px;
  height: 50px;
  background-color: gray;
  font-size: large;
  font-weight: bolder;
}