<div id="question" [ngClass]="getDarkMode()"  *ngFor="let m of apiMatchL1_filter">
    <div id="header" style="display: none;"> 
        <table align="center" id="headerTable">
            <tr>
                <td rowspan="2"><button (click)="lastBox()" id="headerButton">Previous</button></td> 
                <td style="text-align: center;width: 800px; font-weight: bold; font-size: larger;" id="headerText"><h1 >Title</h1></td>
                <td rowspan="2"><button (click)="nextBox()" id="headerButton">Next</button></td> 
            </tr>
            <tr>
                <th [ngClass]="getColor(m.team)" style="text-align: center;">Match: {{ m.matchNum }} - Team: {{ m.team }}: {{ m.teamName }}</th>
            </tr>
        </table>
    </div>
    <div id="home">
        <a routerLink="/"><button class="backButton" title="Team List">Close</button></a>
        <h1 style="text-align: center;" (click)="setDarkMode()">Welcome to Level 1 Scouting!</h1>
        <h2 style="text-align: center;">Match {{ m.matchNum }}</h2>
        <h2 style="text-align: center;" [ngClass]="getLetterColor(m.team)">Team: {{ m.team }} - {{ m.teamName }}</h2>
        <h3 style="text-align: center;">Scouter Name: 
            <select class="form-control" type="text" name="Scouter" [(ngModel)] = "scouter" (ngModelChange)="select($event)">
                <option *ngFor="let s of apiScouters;" [value]="s.scouterID">{{s.firstName}} {{s.lastName}}</option>
            </select></h3>
        <button id="initialNext" style="margin: 0 auto; display: block;" (click)="showHide()">Invert veiw</button>
        <br>
        <table id="homeTable" align="center" [ngClass]="show('normal')">
            <tr>
                <th class="blue" style="width: 75px;text-align: left;">Blue Alliance</th>
                <td rowspan="4"><img src="https://cdn.discordapp.com/attachments/1020128727994224700/1074395507239178261/Scouting_Field_Layout_Diagram_CyberScouter_Field_Crop.png" height="200px"></td>
                <th class="red" style="width: 75px;text-align: right;">Red Alliance</th>
            </tr>
            <tr>
                <td class="blue" style="text-align: left;">{{ m.blue1 }}</td>
                <td class="red" style="text-align: right;">{{ m.red3 }}</td>
            </tr>
            <tr>
                <td class="blue" style="text-align: left;">{{ m.blue2 }}</td>
                <td class="red" style="text-align: right;">{{ m.red2 }}</td>
            </tr>
            <tr>
                <td class="blue" style="text-align: left;">{{ m.blue3 }}</td>
                <td class="red" style="text-align: right;">{{ m.red1 }}</td>
            </tr>
        </table>
        <table id="homeTable" align="center" [ngClass]="show('inverted')">
            <tr>
                <td class="red" style="text-align: left;">{{ m.red1 }}</td>
                <td rowspan="4"><img src="https://cdn.discordapp.com/attachments/1020128727994224700/1074395520077926612/Scouting_Field_Layout_Diagram_inverted.png" height="200px"></td>
                <td class="blue" style="text-align: right;">{{ m.blue3 }}</td>
            </tr>
            <tr>
                <td class="red" style="text-align: left;">{{ m.red2 }}</td>
                <td class="blue" style="text-align: right;">{{ m.blue2 }}</td>
            </tr>
            <tr>
                <td class="red" style="text-align: left;">{{ m.red3 }}</td>
                <td class="blue" style="text-align: right;">{{ m.blue1 }}</td>
            </tr>
            <tr>
                <th class="red" style="width: 75px;text-align: left;">Red Alliance</th>
                <th class="blue" style="width: 75px;text-align: right;">Blue Alliance</th>
            </tr>
        </table>
        <div style="height: 20px;"></div>
        <button (click)="nextBox()" style="margin: 0 auto; display: block;" id="initialNext">Next</button>
        <button (click)="onlineToggle(this.online)" [ngClass]="getOnlineClass()">{{ this.onlineText }}</button>
        
    </div>
    <div id="pre" style="display: none;">
        <br>
        
        <table id="preTable" style="width: 100%;" border="0">
            
            <tr>
                <th align="center" style="width:33%;font-size: xx-large;">Starting Position</th>
                <td align="center" rowspan="4" style="width:33%px;">
                    <img src="https://cdn.discordapp.com/attachments/855979035846246440/1071955262317011014/error_robot_not_found.png" width="300px">
                </td>
                <td rowspan="2" style="text-align: center;font-size: xx-large;">
                    <table align="center" border="0" class="preYesNo">
                        <tr>
                            <td colspan="2"><b>Preload?<br></b></td>
                        </tr>
                        <tr align="center">
                            <td><button (click)="m.preLoad = 1" [ngClass]="getYesNoClass(m.preLoad, 1)">Y</button></td>
                            <td><button (click)="m.preLoad = 0" [ngClass]="getYesNoClass(m.preLoad, 0)">N</button></td>
                        </tr>
                        <tr>
                            <td colspan="2"><b><br><br><br>Did they show?<br></b></td>
                        </tr>
                        <tr align="center">
                            <td><button (click)="m.preNoShow = 1" [ngClass]="getYesNoClass(m.preNoShow, 1)">Y</button></td>
                            <td><button (click)="m.preNoShow = 0" [ngClass]="getYesNoClass(m.preNoShow, 0)">N</button></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" class="startPosition">
                    <div [ngClass]="showPre('BNorm')">
                        <img src="https://cdn.discordapp.com/attachments/1020128727994224700/1074396732860924054/Blue_Community.png" width="300px">
                        <button style="left: 235px;top: 16%;" (click)="m.preStartPos=1" [ngClass]="getRankClass(m.preStartPos, 1)">1</button>
                        <button style="left: 235px;top: 50%;" (click)="m.preStartPos=2" [ngClass]="getRankClass(m.preStartPos, 2)">2</button>
                        <button style="left: 235px;top: 84%;" (click)="m.preStartPos=3" [ngClass]="getRankClass(m.preStartPos, 3)">3</button>
                        <button style="left: 337px;top: 84%;" (click)="m.preStartPos=4" [ngClass]="getRankClass(m.preStartPos, 4)">4</button>
                    </div>
                    <div [ngClass]="showPre('RNorm')">
                        <img src="https://cdn.discordapp.com/attachments/1020128727994224700/1074396622332624916/Red_Community.png" width="300px">
                        <button style="left: 265px;top: 16%;" (click)="m.preStartPos=1" [ngClass]="getRankClass(m.preStartPos, 1)">1</button>
                        <button style="left: 265px;top: 50%;" (click)="m.preStartPos=2" [ngClass]="getRankClass(m.preStartPos, 2)">2</button>
                        <button style="left: 265px;top: 84%;" (click)="m.preStartPos=3" [ngClass]="getRankClass(m.preStartPos, 3)">3</button>
                        <button style="left: 160px;top: 84%;" (click)="m.preStartPos=4" [ngClass]="getRankClass(m.preStartPos, 4)">4</button>
                    </div>
                    <div [ngClass]="showPre('BInv')">
                        <img src="https://cdn.discordapp.com/attachments/1020128727994224700/1074396621703487499/Blue_Community_inverted.png" width="300px">
                        <button style="left: 265px;top: 16%;" (click)="m.preStartPos=3" [ngClass]="getRankClass(m.preStartPos, 3)">3</button>
                        <button style="left: 265px;top: 50%;" (click)="m.preStartPos=2" [ngClass]="getRankClass(m.preStartPos, 2)">2</button>
                        <button style="left: 265px;top: 84%;" (click)="m.preStartPos=1" [ngClass]="getRankClass(m.preStartPos, 1)">1</button>
                        <button style="left: 160px;top: 16%;" (click)="m.preStartPos=4" [ngClass]="getRankClass(m.preStartPos, 4)">4</button>
                    </div>
                    <div [ngClass]="showPre('RInv')">
                        <img src="https://cdn.discordapp.com/attachments/1020128727994224700/1074396622907252857/Red_Community_inverted.png" width="300px">
                        <button style="left: 235px;top: 16%;" (click)="m.preStartPos=3" [ngClass]="getRankClass(m.preStartPos, 3)">3</button>
                        <button style="left: 235px;top: 50%;" (click)="m.preStartPos=2" [ngClass]="getRankClass(m.preStartPos, 2)">2</button>
                        <button style="left: 235px;top: 84%;" (click)="m.preStartPos=1" [ngClass]="getRankClass(m.preStartPos, 1)">1</button>
                        <button style="left: 337px;top: 16%;" (click)="m.preStartPos=4" [ngClass]="getRankClass(m.preStartPos, 4)">4</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="auto" style="display: none;">
        <p></p>
        <table id="nodeTable" align="center">
            <tr>
                <td><button class="cone" (click)="nodeSelect(1)" [ngClass]="getNodeClass(1)">1</button></td>
                <td><button class="cube" (click)="nodeSelect(2)" [ngClass]="getNodeClass(2)">2</button></td>
                <td><button class="cone" (click)="nodeSelect(3)" [ngClass]="getNodeClass(3)">3</button></td>
                <td><button class="cone" (click)="nodeSelect(4)" [ngClass]="getNodeClass(4)">4</button></td>
                <td><button class="cube" (click)="nodeSelect(5)" [ngClass]="getNodeClass(5)">5</button></td>
                <td><button class="cone" (click)="nodeSelect(6)" [ngClass]="getNodeClass(6)">6</button></td>
                <td><button class="cone" (click)="nodeSelect(7)" [ngClass]="getNodeClass(7)">7</button></td>
                <td><button class="cube" (click)="nodeSelect(8)" [ngClass]="getNodeClass(8)">8</button></td>
                <td><button class="cone" (click)="nodeSelect(9)" [ngClass]="getNodeClass(9)">9</button></td>
            </tr>
            <tr>
                <td><button class="cone" (click)="nodeSelect(10)" [ngClass]="getNodeClass(10)">10</button></td>
                <td><button class="cube" (click)="nodeSelect(11)" [ngClass]="getNodeClass(11)">11</button></td>
                <td><button class="cone" (click)="nodeSelect(12)" [ngClass]="getNodeClass(12)">12</button></td>
                <td><button class="cone" (click)="nodeSelect(13)" [ngClass]="getNodeClass(13)">13</button></td>
                <td><button class="cube" (click)="nodeSelect(14)" [ngClass]="getNodeClass(14)">14</button></td>
                <td><button class="cone" (click)="nodeSelect(15)" [ngClass]="getNodeClass(15)">15</button></td>
                <td><button class="cone" (click)="nodeSelect(16)" [ngClass]="getNodeClass(16)">16</button></td>
                <td><button class="cube" (click)="nodeSelect(17)" [ngClass]="getNodeClass(17)">17</button></td>
                <td><button class="cone" (click)="nodeSelect(18)" [ngClass]="getNodeClass(18)">18</button></td>
            </tr>
            <tr>
                <td><button class="other" (click)="nodeSelect(19)" [ngClass]="getNodeClass(19)">19</button></td>
                <td><button class="other" (click)="nodeSelect(20)" [ngClass]="getNodeClass(20)">20</button></td>
                <td><button class="other" (click)="nodeSelect(21)" [ngClass]="getNodeClass(21)">21</button></td>
                <td><button class="other" (click)="nodeSelect(22)" [ngClass]="getNodeClass(22)">22</button></td>
                <td><button class="other" (click)="nodeSelect(23)" [ngClass]="getNodeClass(23)">23</button></td>
                <td><button class="other" (click)="nodeSelect(24)" [ngClass]="getNodeClass(24)">24</button></td>
                <td><button class="other" (click)="nodeSelect(25)" [ngClass]="getNodeClass(25)">25</button></td>
                <td><button class="other" (click)="nodeSelect(26)" [ngClass]="getNodeClass(26)">26</button></td>
                <td><button class="other" (click)="nodeSelect(27)" [ngClass]="getNodeClass(27)">27</button></td>
            </tr>
        </table>
        <br>
        <table id="autoDropdownTable" border="0">
            <tr>
                <td>
                    <form>
                        <label for="moveBns"><h2>Move Bonus:</h2></label>
                        <p></p>
                        <select name="moveBns" id="moveBns">
                            <option value="0">Did not move</option>
                            <option value="1">Move w/o bonus</option>
                            <option value="3">Move w/ bonus</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form>
                        <label for="chargestn"><h2>Charge Station:</h2></label>
                        <p></p>
                        <select name="chargestn" id="chargestn">
                            <option value="0">No attempt</option>
                            <option value="1">Failed attempt</option>
                            <option value="3">Docked no engage</option>
                            <option value="4">Docked w/ engage</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form>
                        <label for="penalties"><h2>Penalties:</h2></label>
                        <p></p>
                        <select name="penalties" id="penalties">
                            <option value="0">No penalties</option>
                            <option value="1">Crossed Line</option>
                            <option value="3">Touched Pieces</option>
                        </select>
                    </form>
                </td>
            </tr>
        </table>
        <br>
        <h2 style="text-align: center;">Pickup Positions</h2>
        <table id="autoPickupTable" border="0">
            <tr>
                <td><button [ngClass]="pickupClass(1)" (click)="pickupSelection(1)"></button></td>
                <td><button [ngClass]="pickupClass(2)" (click)="pickupSelection(2)"></button></td>
                <td><button [ngClass]="pickupClass(3)" (click)="pickupSelection(3)"></button></td>
                <td><button [ngClass]="pickupClass(4)" (click)="pickupSelection(4)"></button></td>
            </tr>
        </table>
    </div>
    <div id="tele" style="display: none;text-align: center;">
        <br>
        <table align="center"><tr><td>
        <table id="teleTable" border="0" style="left: 300px;">
            <tr>
                <th colspan="3">CONE</th>
                <th></th>
                <th colspan="3">CUBE</th>
            </tr>
            <tr>
                <td>
                    <button class="button_rank" (click)="m.teleConeHigh > 0 && m.teleConeHigh = m.teleConeHigh - 1">-</button>
                </td>
                <td>
                    <input type="text" class="form-control" id="teleConeHigh" readonly #ctrl="ngModel" [(ngModel)]="m.teleConeHigh" name="teleConeHigh">
                </td>
                <td>
                    <button class="button_rank" (click)="m.teleConeHigh = m.teleConeHigh + 1">+</button>
                </td>
                <th>HIGH</th>
                <td>
                    <button class="button_rank" (click)="m.teleCubeHigh > 0 && m.teleCubeHigh = m.teleCubeHigh - 1">-</button>
                </td>
                <td>
                    <input type="text" class="form-control" id="teleCubeHigh" readonly #ctrl="ngModel" [(ngModel)]="m.teleCubeHigh" name="teleCubeHigh">
                </td>
                <td>
                    <button class="button_rank" (click)="m.teleCubeHigh = m.teleCubeHigh + 1">+</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="button_rank" (click)="m.teleConeMid > 0 && m.teleConeMid = m.teleConeMid - 1">-</button>
                </td>
                <td>
                    <input type="text" class="form-control" id="teleConeMid" readonly #ctrl="ngModel" [(ngModel)]="m.teleConeMid" name="teleConeMid">
                </td>
                <td>
                    <button class="button_rank" (click)="m.teleConeMid = m.teleConeMid + 1">+</button>
                </td>
                <th>MID</th>
                <td>
                    <button class="button_rank" (click)="m.teleCubeMid > 0 && m.teleCubeMid = m.teleCubeMid - 1">-</button>
                </td>
                <td>
                    <input type="text" class="form-control" id="teleCubeMid" readonly #ctrl="ngModel" [(ngModel)]="m.teleCubeMid" name="teleCubeMid">
                </td>
                <td>
                    <button class="button_rank" (click)="m.teleCubeMid = m.teleCubeMid + 1">+</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="button_rank" (click)="m.teleConeLow > 0 && m.teleConeLow = m.teleConeLow - 1">-</button>
                </td>
                <td>
                    <input type="text" class="form-control" id="teleConeLow" readonly #ctrl="ngModel" [(ngModel)]="m.teleConeLow" name="teleConeLow">
                </td>
                <td>
                    <button class="button_rank" (click)="m.teleConeLow = m.teleConeLow + 1">+</button>
                </td>
                <th>LOW</th>
                <td>
                    <button class="button_rank" (click)="m.teleCubeLow > 0 && m.teleCubeLow = m.teleCubeLow - 1">-</button>
                </td>
                <td>
                    <input type="text" class="form-control" id="teleCubeLow" readonly #ctrl="ngModel" [(ngModel)]="m.teleCubeLow" name="teleCubeLow">
                </td>
                <td>
                    <button class="button_rank" (click)="m.teleCubeLow = m.teleCubeLow + 1">+</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="button_rank" (click)="m.teleConeCMTY > 0 && m.teleConeCMTY = m.teleConeCMTY - 1">-</button>
                </td>
                <td>
                    <input type="text" class="form-control" id="teleConeCMTY" readonly #ctrl="ngModel" [(ngModel)]="m.teleConeCMTY" name="teleConeCMTY">
                </td>
                <td>
                    <button class="button_rank" (click)="m.teleConeCMTY = m.teleConeCMTY + 1">+</button>
                </td>
                <th>CMTY</th>
                <td>
                    <button class="button_rank" (click)="m.teleCubeCMTY > 0 && m.teleCubeCMTY = m.teleCubeCMTY - 1">-</button>
                </td>
                <td>
                    <input type="text" class="form-control" id="teleCubeCMTY" readonly #ctrl="ngModel" [(ngModel)]="m.teleCubeCMTY" name="teleCubeCMTY">
                </td>
                <td>
                    <button class="button_rank" (click)="m.teleCubeCMTY = m.teleCubeCMTY + 1">+</button>
                </td>
            </tr>
        </table>
        </td><td style="width: 50px;"></td><td>
        <table id="teleTable">
            <tr><th colspan="3">LZ Pickup</th></tr>
            <tr>
                <td>
                    <button class="button_rank" (click)="m.teleLZPickup > 0 && m.teleLZPickup = m.teleLZPickup - 1">-</button>
                </td>
                <td>
                    <input type="text" class="form-control" id="teleLZPickup" readonly #ctrl="ngModel" [(ngModel)]="m.teleLZPickup" name="teleLZPickup">
                </td>
                <td>
                    <button class="button_rank" (click)="m.teleLZPickup = m.teleLZPickup + 1">+</button>
                </td>
            </tr>
            <tr><th colspan="3">Obstructed Other Robot</th></tr>
            <tr>
                <td>
                    <button class="button_rank" (click)="m.teleObstructed > 0 && m.teleObstructed = m.teleObstructed - 1">-</button>
                </td>
                <td>
                    <input type="text" class="form-control" id="teleObstructed" readonly #ctrl="ngModel" [(ngModel)]="m.teleObstructed" name="teleObstructed">
                </td>
                <td>
                    <button class="button_rank" (click)="m.teleObstructed = m.teleObstructed + 1">+</button>
                </td>
            </tr>
            <tr><th colspan="3">Was Obstructed</th></tr>
            <tr>
                <td>
                    <button class="button_rank" (click)="m.teleWasObstructed > 0 && m.teleWasObstructed = m.teleWasObstructed - 1">-</button>
                </td>
                <td>
                    <input type="text" class="form-control" id="teleWasObstructed" readonly #ctrl="ngModel" [(ngModel)]="m.teleWasObstructed" name="teleWasObstructed">
                </td>
                <td>
                    <button class="button_rank" (click)="m.teleWasObstructed = m.teleWasObstructed + 1">+</button>
                </td>
            </tr>
        </table></td></tr></table>
    </div>
    <div id="end" style="display: none;">
        <br>
        <br>
        <table style="width: 100%;" align="center">
            <tr>
                <th style="width: 33%;">Charge Time(seconds)</th>
                <th style="width: 33%; border-right: 4px solid black;">Charge Status</th>
                <td style="width: 33%;"><button (click)="m.rampAssist = 2"  [ngClass]="getRankClass(m.rampAssist,2)">Buddy Climb - Was Helped</button></td>
            </tr>
            <tr>
                <td rowspan="6">

                    <table align="center" class="numpad">
                        <tr>
                            <th colspan="3" style="border: 4px solid black;width: 450px;height: 25px;" id="numPadBox">0</th>
                        </tr>
                        <tr>
                            <td><button (click)="numPad('7')">7</button></td>
                            <td><button (click)="numPad('8')">8</button></td>
                            <td><button (click)="numPad('9')">9</button></td>
                        </tr>
                        <tr>
                            <td><button (click)="numPad('4')">4</button></td>
                            <td><button (click)="numPad('5')">5</button></td>
                            <td><button (click)="numPad('6')">6</button></td>
                        </tr>
                        <tr>
                            <td><button (click)="numPad('1')">1</button></td>
                            <td><button (click)="numPad('2')">2</button></td>
                            <td><button (click)="numPad('3')">3</button></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button (click)="numPad('0')">0</button></td>
                            <td><button style="background-color: red;" (click)="remNumPad()"></button></td>
                        </tr>
                    </table>

                </td>
                <td style="border-right: 4px solid black;"><button (click)="m.ramp = 5"  [ngClass]="getRankClass(m.ramp,5)">Docked - Engaged</button></td>
                <td><button (click)="m.rampAssist = 1"  [ngClass]="getRankClass(m.rampAssist,1)">Buddy Climb - Helped</button></td>
            </tr>
            <tr>
                <td style="border-right: 4px solid black;"><button (click)="m.ramp = 4"  [ngClass]="getRankClass(m.ramp,4)">Docked - Not Engaged</button></td>
                <td><button (click)="m.rampAssist = 0"  [ngClass]="getRankClass(m.rampAssist,0)">No Buddy Climb</button></td>
            </tr>
            <tr>
                <td style="border-right: 4px solid black;"><button (click)="m.ramp = 3"  [ngClass]="getRankClass(m.ramp,3)">Parked</button></td>
                <th style="border-top: 4px solid black; padding-top: 4px;">Climb Position</th>
            </tr>
            <tr>
                <td style="border-right: 4px solid black;"><button (click)="m.ramp = 2"  [ngClass]="getRankClass(m.ramp,2)">No Attempt - Kept Scoring</button></td>
                <td><button (click)="m.rampPos = 2"  [ngClass]="getRankClass(m.rampPos,2)">Fully On - Side</button></td>
            </tr>
            <tr>
                <td style="border-right: 4px solid black;"><button (click)="m.ramp = 1"  [ngClass]="getRankClass(m.ramp,1)">Failed Attempt</button></td>
                <td><button (click)="m.rampPos = 1"  [ngClass]="getRankClass(m.rampPos,1)">Fully On - Center</button></td>
            </tr>
            <tr>
                <td style="border-right: 4px solid black;"><button (click)="m.ramp = 0"  [ngClass]="getRankClass(m.ramp,0)">Not Attemp</button></td>
                <td><button (click)="m.rampPos = 0"  [ngClass]="getRankClass(m.rampPos,0)">Hanging Off</button></td>
            </tr>
        </table>
    </div>
    <div id="post" style="display: none;">
        <br>
        <br>
        <table align="center" class="yesNoTable">
            <tr>
                <th>Subsystem Broke?</th>
                <td><button (click)="m.postSubsystemBroke = 1" [ngClass]="getYesNoClass(m.postSubsystemBroke, 1)">Y</button></td>
                <td><button (click)="m.postSubsystemBroke = 0" [ngClass]="getYesNoClass(m.postSubsystemBroke, 0)">N</button></td>
            </tr>
            <tr>
                <th>Broke Down?</th>
                <td><button (click)="m.postBrokeDown = 1" [ngClass]="getYesNoClass(m.postBrokeDown, 1)">Y</button></td>
                <td><button (click)="m.postBrokeDown = 0" [ngClass]="getYesNoClass(m.postBrokeDown, 0)">N</button></td>
            </tr>
            <tr>
                <th>Reorient Cone?</th>
                <td><button (click)="m.postReorientCone = 1" [ngClass]="getYesNoClass(m.postReorientCone, 1)">Y</button></td>
                <td><button (click)="m.postReorientCone = 0" [ngClass]="getYesNoClass(m.postReorientCone, 0)">N</button></td>
            </tr>
            <tr>
                <th>Shelf Pickup?</th>
                <td><button (click)="m.postShelfPickup = 1" [ngClass]="getYesNoClass(m.postShelfPickup, 1)">Y</button></td>
                <td><button (click)="m.postShelfPickup = 0" [ngClass]="getYesNoClass(m.postShelfPickup, 0)">N</button></td>
            </tr>
            <!-- <tr>
                <th>Ground Pickup?</th>
                <td><button (click)="m.postGroundPickup = 1" [ngClass]="getYesNoClass(m.postGroundPickup, 1)">Y</button></td>
                <td><button (click)="m.postGroundPickup = 0" [ngClass]="getYesNoClass(m.postGroundPickup, 0)">N</button></td>
            </tr> -->
            <tr>
                <th>Good Partner?</th>
                <td><button (click)="m.postGoodPartner = 1" [ngClass]="getYesNoClass(m.postGoodPartner, 1)">Y</button></td>
                <td><button (click)="m.postGoodPartner = 0" [ngClass]="getYesNoClass(m.postGoodPartner, 0)">N</button></td>
            </tr>
        </table>
    </div>
    <div id="final" style="display: none;">
        <table align="center">
            <tr>
                <td><h1 style="text-align: center;">Thank you for scouting the match!</h1></td>
            </tr>
            <tr>
                <td align="center"><img src="https://media.discordapp.net/attachments/709829587323977811/1032728164364992653/makesweet-y27of7.gif"></td>
            </tr>
            <tr>
                <td><button (click)="returnBox()" style="margin: 0 auto; display: block;" id="initialNext">Return</button> </td>
            </tr>
            <tr>
                <td><button (click)="save(m.matchScoutingID)" style="margin: 0 auto; display: block;" id="initialNext">Save</button></td>
            </tr>
        </table> 
    </div>
