local.storage:
<select class="form-control" type="text" name="Scouter" [(ngModel)]="memoryType" (change)="select(memoryType)">
    <option *ngFor="let t of memoryTypes;" [value]="t.memoryTypeID">{{t.memoryType}}</option>
</select>
<hr>
<div>
    <button (click)="updateRecord()">Save to Database</button>&nbsp;
    <button (click)="removeRecord()">Remove from Memory</button>&nbsp;
    <a routerLink="/admin"><button type="button" title="Back to Admin Page">Close</button></a>
    <br><br>
    <!-- Match Scouting Table -->
    <table *ngIf="display==1">
        <tr>
            <th>&nbsp;</th>
            <th>matchScoutingID</th>
            <th>eventID</th>
            <th>matchID</th>
            <th>matchNum</th>
            <th>allianceStationID</th>
            <th>team</th>
            <th>scoutingStatus</th>
            <th>preNoShow</th>
            <th>scouterID</th>


        </tr>
        <tr *ngFor="let m of apiFilter1; let i = index">
            <td><input type=checkbox (change)="updateCheckedOptions(i,0)"></td>
            <td>{{ m.matchScoutingID }}</td>
            <td>{{ m.eventID }}</td>
            <td>{{ m.matchID }}</td>
            <td>{{ m.matchNum }}</td>
            <td>{{ m.allianceStationID }}</td>
            <td>{{ m.team }}</td>
            <td>{{ m.scoutingStatus }}</td>
            <td>{{ m.preNoShow }}</td>
            <td>{{ m.scouterID }}</td>


        </tr>
    </table>
    <!-- Pit Data Table -->
    <table *ngIf="display==2">
        <tr>
            <th>team</th>
            <th>eventID</th>
            <th>scoutingStatus</th>
            <th>scouterID</th>
        </tr>
        <tr *ngFor="let m of apiPitFilter">
            <td>{{ m.team }}</td>
            <td>{{ m.eventID }}</td>
            <td>{{ m.scoutingStatus }}</td>
            <td>{{ m.scouterID }}</td>
        </tr>
    </table>
    <div align="left">
        <br>
        <button (click)="updateRecord()">Save to Database</button>&nbsp;
        <button (click)="removeRecord()">Remove from Memory</button>&nbsp;
        <a routerLink="/admin"><button type="button" title="Back to Admin Page">Close</button></a>
        
    </div>

    <p>{{ this.dumpMemory }}</p>
    <br>
    <a routerLink="/admin"><button type="button" title="Back to Admin Page">Close</button></a><br>
    
    

</div>