.center {
    margin-left: auto;
    margin-right: auto;
  }


.red_team {
    color: red;
    font-weight: bold;
    font-size: 40px;
}

.blue_team {
    color: blue;
    font-weight: bold;
    font-size: 40px;
}


.button_gray {
    width:30px;
    height:30px;
    margin-left: 4px;
    background-color: #EEEEEE;
}

.button_green {
    width:30px;
    height:30px;
    margin-left: 4px;
    background-color: green;
    color: white;
}

.button_red {
    width:30px;
    height:30px;
    margin-left: 4px;
    background-color: red;
    color: white;
}
