<div *ngFor="let m of apiMatchL2_filter">


<!-- Main Level 2 Page -->
<table *ngIf="display==1">
    <tr>
    
        <td align="center" colspan="2"><b>Level 2 Scouting</b></td>    
    
    </tr>
    <tr >
    
        <td align="center" colspan="2">Match {{ m.matchNum }}</td>
    
    </tr>
    <tr >
    
        <td align="center" colspan="2">{{ m.team }} - {{ m.teamName }}</td>
    
    </tr>
    <tr >
    
        <td align="left">Red Alliance:<br>
            {{ m.red1 }}<br>
            {{ m.red2 }}<br>
            {{ m.red3 }}<br>
        </td>
        <td align="right">Blue Alliance:<br>
            {{ m.blue1 }}<br>
            {{ m.blue2 }}<br>
            {{ m.blue3 }}<br>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="2">
            <b>&nbsp;Scouter Name: </b><br>
            <select class="form-control" type="text" name="Scouter" [(ngModel)] = "scouter" (ngModelChange)="select($event)">
                <option *ngFor="let s of apiScouters;" [value]="s.scouterID">{{s.firstName}} {{s.lastName}}</option>
            </select>

            <input type="hidden" [(ngModel)]='scouter'>
        </td>
    </tr>

    <tr>
        <td align="left">
            <a routerLink="/"><button type="button" title="Home">Home</button></a>
        </td>
        <td align="right">
            <button (click)="changeDisplay(1)">Next</button>
        </td>
    </tr>
</table>

<!-- Start Level 2 In Match Page -->

<table *ngIf="display==2">
    <tr>
    
        <td align="center" colspan="2"><b>Level 2 Scouting</b></td>    
    
    </tr>
    <tr >
    
        <td align="center" colspan="2">Match {{ m.matchNum }}</td>
    
    </tr>
    <tr >
    
        <td align="center" colspan="2">{{ m.team }} - {{ m.teamName }}</td>
    
    </tr>

    <tr>
        <td >
            <b>Speed</b>
        </td>
        <td>
            <button class="button_rank">NA</button>
            <button class="button_rank">1</button>
            <button class="button_rank">2</button>
            <button class="button_rank">3</button>
            <button class="button_rank">4</button>
            <button class="button_rank">5</button>
        </td>        
    </tr>
    <tr>
        <td >
            <b>Manuver</b>
        </td>
        <td>
            <button class="button_rank">NA</button>
            <button class="button_rank">1</button>
            <button class="button_rank">2</button>
            <button class="button_rank">3</button>
            <button class="button_rank">4</button>
            <button class="button_rank">5</button>
        </td>        
    </tr>
    <tr>
        <td >
            <b>Sturdy</b>
        </td>
        <td>
            <button class="button_rank">NA</button>
            <button class="button_rank">1</button>
            <button class="button_rank">2</button>
            <button class="button_rank">3</button>
            <button class="button_rank">4</button>
            <button class="button_rank">5</button>
        </td>        
    </tr>
    <tr>
        <td >
            <b>Climb</b>
        </td>
        <td>
            <button class="button_rank">NA</button>
            <button class="button_rank">1</button>
            <button class="button_rank">2</button>
            <button class="button_rank">3</button>
            <button class="button_rank">4</button>
            <button class="button_rank">5</button>
        </td>        
    </tr>
    <tr>
        <td >
            <b>Effort</b>
        </td>
        <td>
            <button class="button_rank">NA</button>
            <button class="button_rank">1</button>
            <button class="button_rank">2</button>
            <button class="button_rank">3</button>
            <button class="button_rank">4</button>
            <button class="button_rank">5</button>
        </td>        
    </tr>
    <tr>
        <td >
            <b>Scoring Eff</b>
        </td>
        <td>
            <button class="button_rank">NA</button>
            <button class="button_rank">1</button>
            <button class="button_rank">2</button>
            <button class="button_rank">3</button>
            <button class="button_rank">4</button>
            <button class="button_rank">5</button>
        </td>        
    </tr>
    <tr>
        <td >
            <b>Intake Eff</b>
        </td>
        <td>
            <button class="button_rank">NA</button>
            <button class="button_rank">1</button>
            <button class="button_rank">2</button>
            <button class="button_rank">3</button>
            <button class="button_rank">4</button>
            <button class="button_rank">5</button>
        </td>        
    </tr>
    <tr>
        <td align="left">
            <button (click)="changeDisplay(-1)">Previous</button>
        </td>
        <td align="right">
            <button (click)="changeDisplay(1)">Next</button>
        </td>
    </tr>
</table>







<!-- Start Level 2 Offense Page -->

<table *ngIf="display==3">
    <tr>
    
        <td align="center" colspan="7"><b>Level 2 Scouting</b></td>    
    
    </tr>
    <tr >
    
        <td align="center" colspan="7">Match {{ m.matchNum }}</td>
    
    </tr>
    <tr >
    
        <td align="center" colspan="7">{{ m.team }} - {{ m.teamName }}</td>
    
    </tr>
    <tr>
        <td >
            &nbsp;
        </td>
        <td class="radio_col">NA</td>
        <td class="radio_col">1</td>
        <td class="radio_col">2</td>
        <td class="radio_col">3</td>
        <td class="radio_col">4</td>
        <td class="radio_col">5</td>        
    </tr>
    <tr>
        <td><b>Speed</b></td>
        <td class="radio_col"><input type="radio" name="speed" value="0"></td>
        <td class="radio_col"><input type="radio" name="speed" value="1"></td>
        <td class="radio_col"><input type="radio" name="speed" value="2"></td>
        <td class="radio_col"><input type="radio" name="speed" value="3"></td>
        <td class="radio_col"><input type="radio" name="speed" value="4"></td>
        <td class="radio_col"><input type="radio" name="speed" value="5"></td>    
    </tr>
    <tr>
        <td >
            <b>Manuver</b>
        </td>
  
    </tr>
    <tr>
        <td >
            <b>Sturdy</b>
        </td>
       
    </tr>
    <tr>
        <td >
            <b>Climb</b>
        </td>
   
    </tr>
    <tr>
        <td >
            <b>Effort</b>
        </td>
        <td><button  (click)="m.effort > 0 && m.effort = m.effort - 1">-</button></td>
        <td colspan="4"><input type="text" class="form-control" id="effort"
            #ctrl="ngModel" required
            [(ngModel)]="m.effort" name="effort"></td>
        <td><button (click)="m.effort = m.effort + 1">+</button></td>    
     
    </tr>
    <tr>
        <td >
            <b>Scoring Eff</b>
        </td>
      
    </tr>
    <tr>
        <td >
            <b>Intake Eff</b>
        </td>
     
    </tr>
    <tr>
        <td align="left">
            <button (click)="changeDisplay(-1)">Previous</button>
        </td>
        <td align="right" colspan="6">
            <button (click)="changeDisplay(1)">Next</button>
        </td>
    </tr>
</table>



<!-- Start Level 2 Defense Page -->


<table *ngIf="display==4">
    <tr>
        <td>
            Level 2 Defense Page
        </td>
    </tr>
    <tr>
        <td align="left">
            <button (click)="changeDisplay(-1)">Previous</button>
        </td>
        <td align="right">
            <button (click)="changeDisplay(1)">Next</button>
        </td>
    </tr>
</table>


</div>