<div [ngClass]="getDarkMode()" id="question">
<div  *ngFor="let m of apiMatchL2_filter">

    <table colspan="4" height="60">
        <tr>
    
            <td align="center" colspan="4" height="20"><b>Level 2 Scouting</b></td>    
        
        </tr>
        <tr >
        
            <td align="center" colspan="4" height="20">Match {{ m.matchNum }}</td>
        
        </tr>
        <tr >
        
            <td align="center" colspan="4"  height="20" [ngClass]="getClass3(m.allianceStationID)">{{ m.team }} - {{ m.teamName }}</td>
        
        </tr>
    </table>
    <div style="border: 1px solid blue; position: absolute;top: 15%;bottom: 10%; right: 0%; left: 0%;" >


    </div>
    <table align="center" style="position: absolute; bottom: 0; text-align: center;border: 3px solid green;">
        <tr><td>hehehehehe</td></tr>
    </table>

</div>
</div>



<div style="display: none;" *ngFor="let m of apiMatchL2_filter"> 
    <!-- Main Level 2 Page -->
<table *ngIf="display==1" height="360">
    
    <tr >
    
        <td align="left" colspan="2" class="red_all">Red Alliance<br>
            {{ m.red1 }}<br>
            {{ m.red2 }}<br>
            {{ m.red3 }}<br>
        </td>
        <td align="right" colspan="2" class="blue_all">Blue Alliance<br>
            {{ m.blue1 }}<br>
            {{ m.blue2 }}<br>
            {{ m.blue3 }}<br>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="4">
            <b>&nbsp;Scouter Name: </b><br>
            <select class="form-control" type="text" name="Scouter" [(ngModel)] = "m.scouterID" (ngModelChange)="select($event)">
                <option *ngFor="let s of apiScouters;" [value]="s.scouterID">{{s.firstName}} {{s.lastName}}</option>
            </select>

            <input type="hidden" [(ngModel)]='m.scouterID'>
        </td>
    </tr>

    <tr>
        <td align="center" colspan="4">
            <a routerLink="/level2list"><button type="button" title="Close">Close</button></a>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <button (click)="changeDisplay(1,m.scouterID)">Next</button>
        </td>
    </tr>
</table>

<!-- Start Level 2 In Match Page -->

<table *ngIf="display==2" height="360">

    <tr>
        <td align="center" colspan="2">
            <b>Speed</b>
        </td>
        <td align="left" colspan="2">
            <button (click)="m.speed = 0"  [ngClass]="getClass(m.speed,0)">NA</button>
            <button (click)="m.speed = 1"  [ngClass]="getClass(m.speed,1)">1</button>
            <button (click)="m.speed = 2"  [ngClass]="getClass(m.speed,2)">2</button>
            <button (click)="m.speed = 3"  [ngClass]="getClass(m.speed,3)">3</button>
            <button (click)="m.speed = 4"  [ngClass]="getClass(m.speed,4)">4</button>
            <button (click)="m.speed = 5"  [ngClass]="getClass(m.speed,5)">5</button>
        </td>        
    </tr>
    <tr>
        <td align="center" colspan="2">
            <b>Manuver</b>
        </td>
        <td align="left" colspan="2">
            <button (click)="m.maneuverability = 0"  [ngClass]="getClass(m.maneuverability,0)">NA</button>
            <button (click)="m.maneuverability = 1"  [ngClass]="getClass(m.maneuverability,1)">1</button>
            <button (click)="m.maneuverability = 2"  [ngClass]="getClass(m.maneuverability,2)">2</button>
            <button (click)="m.maneuverability = 3"  [ngClass]="getClass(m.maneuverability,3)">3</button>
            <button (click)="m.maneuverability = 4"  [ngClass]="getClass(m.maneuverability,4)">4</button>
            <button (click)="m.maneuverability = 5"  [ngClass]="getClass(m.maneuverability,5)">5</button>
        </td>        
    </tr>
    <tr>
        <td align="center" colspan="2">
            <b>Sturdy</b>
        </td>
        <td align="left" colspan="2">
            <button (click)="m.sturdiness = 0"  [ngClass]="getClass(m.sturdiness,0)">NA</button>
            <button (click)="m.sturdiness = 1"  [ngClass]="getClass(m.sturdiness,1)">1</button>
            <button (click)="m.sturdiness = 2"  [ngClass]="getClass(m.sturdiness,2)">2</button>
            <button (click)="m.sturdiness = 3"  [ngClass]="getClass(m.sturdiness,3)">3</button>
            <button (click)="m.sturdiness = 4"  [ngClass]="getClass(m.sturdiness,4)">4</button>
            <button (click)="m.sturdiness = 5"  [ngClass]="getClass(m.sturdiness,5)">5</button>
        </td>        
    </tr>
    <tr>
        <td align="center" colspan="2">
            <b>Climb</b>
        </td>
        <td align="left" colspan="2">
            <button (click)="m.climb = 0"  [ngClass]="getClass(m.climb,0)">NA</button>
            <button (click)="m.climb = 1"  [ngClass]="getClass(m.climb,1)">1</button>
            <button (click)="m.climb = 2"  [ngClass]="getClass(m.climb,2)">2</button>
            <button (click)="m.climb = 3"  [ngClass]="getClass(m.climb,3)">3</button>
            <button (click)="m.climb = 4"  [ngClass]="getClass(m.climb,4)">4</button>
            <button (click)="m.climb = 5"  [ngClass]="getClass(m.climb,5)">5</button>
        </td>        
    </tr>
    <tr>
        <td align="center" colspan="2">
            <b>Effort</b>
        </td>
        <td align="left" colspan="2">
            <button (click)="m.effort = 0"  [ngClass]="getClass(m.effort,0)">NA</button>
            <button (click)="m.effort = 1"  [ngClass]="getClass(m.effort,1)">1</button>
            <button (click)="m.effort = 2"  [ngClass]="getClass(m.effort,2)">2</button>
            <button (click)="m.effort = 3"  [ngClass]="getClass(m.effort,3)">3</button>
            <button (click)="m.effort = 4"  [ngClass]="getClass(m.effort,4)">4</button>
            <button (click)="m.effort = 5"  [ngClass]="getClass(m.effort,5)">5</button>
        </td>        
    </tr>
    <tr>
        <td align="center" colspan="2">
            <b>Scoring Eff</b>
        </td>
        <td align="left" colspan="2">
            <button (click)="m.scoringEff = 0"  [ngClass]="getClass(m.scoringEff,0)">NA</button>
            <button (click)="m.scoringEff = 1"  [ngClass]="getClass(m.scoringEff,1)">1</button>
            <button (click)="m.scoringEff = 2"  [ngClass]="getClass(m.scoringEff,2)">2</button>
            <button (click)="m.scoringEff = 3"  [ngClass]="getClass(m.scoringEff,3)">3</button>
            <button (click)="m.scoringEff = 4"  [ngClass]="getClass(m.scoringEff,4)">4</button>
            <button (click)="m.scoringEff = 5"  [ngClass]="getClass(m.scoringEff,5)">5</button>
        </td>        
    </tr>
    <tr>
        <td align="center" colspan="2">
            <b>Intake Eff</b>
        </td>
        <td align="left" colspan="2">
            <button (click)="m.intakeEff = 0"  [ngClass]="getClass(m.intakeEff,0)">NA</button>
            <button (click)="m.intakeEff = 1"  [ngClass]="getClass(m.intakeEff,1)">1</button>
            <button (click)="m.intakeEff = 2"  [ngClass]="getClass(m.intakeEff,2)">2</button>
            <button (click)="m.intakeEff = 3"  [ngClass]="getClass(m.intakeEff,3)">3</button>
            <button (click)="m.intakeEff = 4"  [ngClass]="getClass(m.intakeEff,4)">4</button>
            <button (click)="m.intakeEff = 5"  [ngClass]="getClass(m.intakeEff,5)">5</button>
        </td>        
    </tr>
    <tr>
        <td align="center" colspan="4">
            <button (click)="changeDisplay(-1,m.scouterID)">Previous</button>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <button (click)="changeDisplay(1,m.scouterID)">Next</button>
        </td>
    </tr>
</table>






<!-- Start Level 2 Offense Page -->

<table *ngIf="display==3" height="360">
    
    <tr>
        <td align="center" colspan="3"><b>Offensive Comments</b></td>
    </tr>
    <tr>
        <td colspan="3" align="center">
            <textarea cols="38" rows="10" maxlength="255" [(ngModel)]="m.commentOff">{{ m.commentOff }}</textarea>
        </td>
   
    </tr>
    <tr>
        <td><b>Good Offensive Bot:</b></td>
        <td align="right"><button (click)="m.goodOffBot = 1"  [ngClass]="getClass2(m.goodOffBot,1)">Y</button></td>
        <td align="left"><button (click)="m.goodOffBot = 0"  [ngClass]="getClass2(m.goodOffBot,0)">N</button></td> 
    </tr>
    <tr>
        <td align="center" colspan="4">
            <button (click)="changeDisplay(-1,m.scouterID)">Previous</button>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <button (click)="changeDisplay(1,m.scouterID)">Next</button>
        </td>
    </tr>
</table>



<!-- Start Level 2 Defense Page -->


<table *ngIf="display==4" height="360">
    
    <tr>
        <td align="center" colspan="3"><b>Defensive Comments</b></td>
    </tr>
    <tr>
        <td colspan="3" align="center">
            <textarea cols="38" rows="10" maxlength="255" [(ngModel)]="m.commentDef">{{ m.commentDef }}</textarea>
        </td>
   
    </tr>




    <tr>
        <td><b>Good Defensive Bot:</b></td>
        <td><button (click)="m.goodDefBot = 1"  [ngClass]="getClass2(m.goodDefBot,1)">Y</button></td>
        <td><button (click)="m.goodDefBot = 0"  [ngClass]="getClass2(m.goodDefBot,0)">N</button></td>   
    </tr>
    <tr>
        <td><b>Played defense in community:</b></td>
        <td><button (click)="m.defCommunity = 1"  [ngClass]="getClass2(m.defCommunity,1)">Y</button></td>
        <td><button (click)="m.defCommunity = 0"  [ngClass]="getClass2(m.defCommunity,0)">N</button></td>  
    </tr>
    <tr>
        <td><b>Played defense in center field:</b></td>
        <td><button (click)="m.defCenter = 1"  [ngClass]="getClass2(m.defCenter,1)">Y</button></td>
        <td><button (click)="m.defCenter = 0"  [ngClass]="getClass2(m.defCenter,0)">N</button></td>  
    </tr>
    <tr>
        <td><b>Played defense in loading zone:</b></td>
        <td><button (click)="m.defLZ = 1"  [ngClass]="getClass2(m.defLZ,1)">Y</button></td>
        <td><button (click)="m.defLZ = 0"  [ngClass]="getClass2(m.defLZ,0)">N</button></td>  
    </tr>
    <tr>
        <td align="center" colspan="4">
            <button (click)="changeDisplay(-1,m.scouterID)">Previous</button>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <button (click)="changeDisplay(1,m.scouterID)">Next</button>
        </td>
    </tr>
</table>

<!-- Start Level 2 save Page -->

<table *ngIf="display==5" height="360">
    

    <tr>
        <td align="center" colspan="2">
            <button (click)="changeDisplay(-1,m.scouterID)">Previous</button>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;  
            <button (click)="save(m.matchScoutingL2ID)">Save</button>
        </td>
    </tr>
</table>
</div>