
#question {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
  }



table, th, td {
    border: 0px solid black;
}

.button_rank {
    width:30px;
    height:30px;
    margin-left: 4px;
    background-color: #EEEEEE;
}

.radio_col {
    width: 30px;
    text-align: center;
}

.button_green {
    width:30px;
    height:30px;
    margin-left: 4px;
    background-color: green;
    color: white;
}

.button_red {
    width:30px;
    height:30px;
    margin-left: 4px;
    background-color: red;
    color: white;
}


input[type=text] {
    width: 35px;
    height: 35px;
    margin-left: 4px;
    text-align: center;
}

.red_all {
    color: red;
    font-weight: bold;
}

.blue_all {
    color: blue;
    font-weight: bold;
}
.darkMode{
    background-color: #121212;
    color: white;
    border-color: white;
  }
  .lightMode{
    background-color: white;
    color: black;
    border-color: white;
  }