<!DOCTYPE html>
<html>
<head>
    <link rel ="stylesheet" href="home.component.scss">
</head>
<body>
<h1 class="headingFont">The Cyberscouter!</h1>

<a routerLink="/level1"><button type="button" title="Level 1 Scouting">Level 1</button></a>
<br>
<a routerLink="/level2list"><button type="button" title="Level 2 Scouting">Level 2</button></a>
<br>
<a routerLink="/pitlist"><button type="button" title="Pit List">Pit</button></a>
<br>
<a routerLink="/admin"><button type="button" title="Admin Page">Admin</button></a>
<br>
<!-- <a routerLink="/login"><button type="button" title="Login Page">Login</button></a> -->





<table align="center">
    <tr *ngFor="let e of apiEvent">
    
        <td *ngIf="e.currentEvent==1" align="center" class="eventText">
            {{ e.eventName }} <br>
            {{ e.eventLocation }} <br>
            {{ this.eventDate }} <br>           
        </td>
    </tr>
        <tr *ngFor="let y of apiAlliance">
            <td *ngIf="y.allianceStationID + '' == this.allianceStationID + ''" class ="eventText">
                Station: <b [ngClass]="getClassColor(this.allianceStationID)">{{ y.allianceStation }}</b>
            </td>
        </tr>
</table>
<br>
<div class="container">
<div class="wrapper"><img src="https://cdn.discordapp.com/attachments/1020128727994224700/1076287813445767289/katherine.jpg" alt="katherine" border="0"></div>
<div class="wrapper"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="https://cdn.discordapp.com/attachments/1020128727994224700/1076287813185716265/hawy.png" alt="hawy" border="0"></a></div>
<div class="wrapper"><img src="https://cdn.discordapp.com/attachments/1020128727994224700/1076287813718380594/aweckfenladwickner.jpg" alt="aweckfenladwickner" border="0"></div>
<div class="wrapper"><img src="https://cdn.discordapp.com/attachments/1020128727994224700/1082820755387072573/alex.png" alt="alex" border="0"></div>
</div>




</body>
