<!DOCTYPE html>
<html>
<head>
    <link rel ="stylesheet" href="home.component.scss">
</head>
<body>
<h1 class="headingFont">Harry Likes Pretzels!</h1>

<br>
<a routerLink="/level1"><button type="button" title="Level 1 Scouting">Level 1</button></a>
<br>
<a routerLink="/level2"><button type="button" title="Level 2 Scouting">Level 2</button></a>
<br>
<a routerLink="/pitlist"><button type="button" title="Pit List">Pit</button></a>
<br>
<a routerLink="/admin"><button type="button" title="Admin Page">Admin</button></a>





<table align="center">
    <tr *ngFor="let e of apiEvent">
    
        <td align="center" class="eventText">
            {{ e.BAeventID }} - {{ e.eventName }} <br>
            {{ e.eventLocation }} <br>
            {{ this.eventDate }}            
        </td>
    </tr>
</table>
<br>
<div class="container">
<div class="wrapper"><a href="https://ibb.co/8Ppp3fj"><img src="https://i.ibb.co/L9WWwcC/katherine.jpg" alt="katherine" border="0"></a></div>
<div class="wrapper"><a href="https://imgbb.com/"><img src="https://i.ibb.co/y5sCsJR/hawy.png" alt="hawy" border="0"></a></div>
<div class="wrapper"><a href="https://ibb.co/THhFr7f"><img src="https://i.ibb.co/NLYH7Jv/aweckfenladwickner.jpg" alt="aweckfenladwickner" border="0"></a></div>
</div>




</body>
