.button {
    background-color: white;
  color: black;
  position: absolute;
  bottom: 2%;
  top: 2%;
  left: 1%;
  right: 1%;
  border-radius: 3px;
  padding: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}