<p>Harry Likes Pretzels!</p>Harold Panajoti is Cringe!

<table align="center">
    <tr>
        <td><a routerLink="/level1"><button type="button" title="Level 1 Scouting">Level 1</button></a></td>
    </tr>
    <tr>
        <td><a routerLink="/pitlist"><button type="button" title="Pit List">Pit Scouting</button></a>
        </td>
    </tr>
    <tr>
        
        <td><a routerLink="/admin"><button type="button" title="Admin Page">Admin</button></a>
         </td>
    </tr>

</table> 



<table align="center">
    <tr *ngFor="let e of apiEvent">
    
        <td align="center">
            {{ e.BAeventID }} - {{ e.eventName }} <br>
            {{ e.eventLocation }} <br>
            {{ e.eventStartDate }}            
        </td>
    </tr>
</table>