button {
  text-align: center;
  background-color: #5C068C;
  color: white;
  width: 160px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  border-width: 3px;

}
.headingFont{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 60px;
}
body {
  margin-left:auto;
  margin-right: auto;
  text-align: center;
}
table {
  margin-left: auto;
  margin-right: auto;
}
img {
  width: 100%;
  height: auto;
}
.container {
  display: flex;
}
.wrapper {
  flex: 1;
}
.eventText{
  font:bolder;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}
.red_all {
  color: red;
  font-weight: bold;
}

.blue_all {
  color: blue;
  font-weight: bold;
}

.black_all {
  color: black;
  font-weight: bold;
}