button {
  text-align: center;
  background-color: purple;
  color: white;
  width: 25%;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  border-width: 3px;

}

body {
  margin-left:auto;
  margin-right: auto;
  text-align: center;
}
table {
  margin-left: auto;
  margin-right: auto;
}
img {
  width: 100%;
  height: auto;
}
.container {
  display: flex;
}
.wrapper {
  flex: 1;
}