
<table align="center">
    <tr>
    
        <td align="center" colspan="4" height="20"><b>Pit Scouting</b></td>    
    
    </tr>

    <tr>
        <td align="center" colspan="4">
            <b>&nbsp;Scouter Name: </b><br>
            <select class="form-control" type="text" name="Scouter" [(ngModel)]="scouter" (change)="select(scouter)">
                <option *ngFor="let s of apiScouters;" [value]="s.scouterID">{{s.firstName}} {{s.lastName}}</option>
            </select>
        </td>
    </tr>
    <tr>
    
        <td align="center" colspan="4" height="20"><br><b>Team List</b></td>    
    
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td align="center">
            <div *ngFor="let p of apiPit; let i = index">
                
                <div *ngIf="i%2 == 0">
                    <!-- <a (click)="pitPage( p.team, scouter, p.scoutingStatus )"><div class="bg{{ p?.scoutingStatus }}">{{p.team}}</div></a> -->
                    <a (click)="pitPage( p.team, scouter, p.scoutingStatus )"><button class="button{{ p?.scoutingStatus }}">{{p.team}}</button></a>
                </div>
            </div>
        </td>
        <td align="center">
            <div *ngFor="let p of apiPit; let i = index">
                <div *ngIf="i%2 != 0">
                    <!-- <a (click)="pitPage( p.team, scouter, p.scoutingStatus )"><div class="bg{{ p?.scoutingStatus }}">{{p.team}}</div></a> -->
                    <a (click)="pitPage( p.team, scouter, p.scoutingStatus )"><button class="button{{ p?.scoutingStatus }}">{{p.team}}</button></a>
                </div>
            </div>
        </td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td align="center" colspan="4">
            <a routerLink="/"><button class="closeButton" type="button" title="Close">Close</button></a>
        </td>
    </tr>
</table>