
<table align="center">
    <tr>
    
        <td align="center" colspan="4" height="20"><b>Pit Scouting</b></td>    
    
    </tr>

    <tr>
        <td align="center" colspan="4">
            <b>&nbsp;Scouter Name: </b><br>
            <select class="form-control" type="text" name="Scouter" [(ngModel)]="scouter" (change)="select(scouter)">
                <option *ngFor="let s of apiScouters;" [value]="s.scouterID">{{s.firstName}} {{s.lastName}}</option>
            </select>
        </td>
    </tr>
    <tr>
    
        <td align="center" colspan="4" height="20"><br><b>Team List</b></td>    
    
    </tr>

    <tr>
        <td align="center" valign="top">
            <div *ngFor="let p of apiPit| slice:0:16">
                <a (click)="pitPage( p.team, scouter, p.scoutingStatus )"><button class="button{{ p?.scoutingStatus }}">{{p.team}}</button></a>
            </div>
        </td>
        <td align="center" valign="top">
            <div *ngFor="let p of apiPit| slice:16:32"> 
                     <a (click)="pitPage( p.team, scouter, p.scoutingStatus )"><button class="button{{ p?.scoutingStatus }}">{{p.team}}</button></a>
           </div>
        </td>
        <td align="center" valign="top">
            <div *ngFor="let p of apiPit| slice:32:48"> 
                     <a (click)="pitPage( p.team, scouter, p.scoutingStatus )"><button class="button{{ p?.scoutingStatus }}">{{p.team}}</button></a>
           </div>
        </td>
        <td align="center" valign="top">
            <div *ngFor="let p of apiPit| slice:48:64"> 
                     <a (click)="pitPage( p.team, scouter, p.scoutingStatus )"><button class="button{{ p?.scoutingStatus }}">{{p.team}}</button></a>
           </div>
        </td>
    </tr>
</table>

<table class="buttons" align="center" style="Width: 100%;height: 10%; position: absolute; bottom: 0; right: 0%; left: 0%; text-align: center;">
    <tr>
        <td style="width: 50%;"><a routerLink="/"><button type="button" title="Close" id="headerButton">Close</button></a></td>
        <td style="width: 50%;"><button type="button" title="Next" id="headerButton" (click)="refreshData()">Refresh</button></td>
    </tr>
</table>