table { 
    width: 320px;
    height: 420px;
}

table, th, td {
    border: 0px solid black;
}

.bg0 {  background-color: #FFFFFF; }
.bg1 {  background-color: #FFFF00; }
.bg2 {  background-color: #00FF00; }

.button0 {
    text-align: center;
    background-color: purple;
    color: white;
    width: 60px;
    height: 30px;
    font-size: 16px;
}

.button1 {
    text-align: center;
    background-color: yellow;
    color: black;
    width: 60px;
    height: 30px;
    font-size: 16px;
}

.button2 {
    text-align: center;
    background-color: grey;
    color: black;
    width: 60px;
    height: 30px;
    font-size: 16px;
}