table { 
    width: 320px;
    height: 420px;
}

table, th, td {
    border: 1px solid black;
}

.bg0 {  background-color: #FFFFFF; }
.bg1 {  background-color: #FFFF00; }
.bg2 {  background-color: #00FF00; }
