div {
    overflow: hidden;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    position: absolute;
    
}

table { 
    margin-top: 0%;
}

table.header,th.header,td.header {
    text-align: center;
    font-size: larger;
    height: 15%;
}

table.buttons, th.buttons, td.buttons {
    text-align: center;
    border: 2px solid black;
    height: 10%;
    margin: 0;
}
button.buttons{
    background-color: #5C068C;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    padding: 2px 2px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    border-style: outset;
    border-color: #500778;
    border-width: 3px;
        
}
button:active{
    transform: scale(0.98);
}
.button_rank {
    width:30px;
    height:30px;
    margin-left: 4px;
    background-color: #EEEEEE;
}
input[type='number']{
    width: 45px;
} 

.button_green {
    width:30px;
    height:30px;
    margin-left: 4px;
    background-color: green;
    color: white;
}
.heading{
    font-size: larger;
}

.file-input {
    display: none;
}