table { 
    width: 320px;
    height: 420px;
    margin-top: 0%;
}

table, th, td {
    border: 1px solid black;
}


.button_rank {
    width:30px;
    height:30px;
    margin-left: 4px;
    background-color: #EEEEEE;
}
input[type='number']{
    width: 45px;
} 

.button_green {
    width:30px;
    height:30px;
    margin-left: 4px;
    background-color: green;
    color: white;
}
.heading{
    font-size: larger;
}