<table>
    <tr>
        <td width="35%">
            <b>Drive Station: </b>
        </td> 
        <td>
            <select class="form-control" type="text" name="allianceStation" [(ngModel)] = "alliance" (ngModelChange)="select($event)">
                <option *ngFor="let s of apiAlliance;" [value]="s.allianceStationID">{{s.allianceStation}}</option>
            </select>
            
        </td>
    </tr>
    <!-- <tr><td colspan="2"><b>Note:</b> Be sure to hit browser refresh button (or F5 key) after changing drive station</td></tr> -->

    <tr><td colspan="2"><hr></td></tr>

    <tr>
        <td>
            <b>Field Orientation</b>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td> 
            <button (click)="orientToggle(this.orientation)">{{ this.orientText }}</button>
        </td>
    </tr>

    <tr><td colspan="2"><hr></td></tr>

    <tr>
        <td colspan="2">
            <b>Browser Memory:</b>  <i> (coming soon)</i>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td >
            <button (click)="clearLocalStorage('StoredL1')">Clear Completed Level 1 Data</button>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <button (click)="saveFile('StoredL1')">Backup Level 1 Data to File</button>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td >
            <button  (click)="clearLocalStorage('StoredL2')">Clear Completed Level 2 Data</button>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <button (click)="saveFile('StoredL2')">Backup Level 2 Data to File</button>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td >
            <button (click)="clearLocalStorage('Pit')">Clear Pit Data</button>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <button (click)="saveFile('Pit')">Backup Pit Data to File</button>
        </td>
    </tr>

    <tr><td colspan="2"><hr></td></tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <a routerLink="/debug"><button type="button" title="Debug Page">Debug</button></a><br>
        </td>
    </tr>

    <tr><td colspan="2"><hr></td></tr>
</table>


<a routerLink="/"><button type="button" title="Admin to home">Close</button></a><br>
