<table>
<tr>
<td>
<h3 style="text-align: center;">Alliance Station: 
    <select class="form-control" type="text" name="allianceStation" [(ngModel)] = "alliance" (ngModelChange)="select($event)">
        <option *ngFor="let s of apiAlliance;" [value]="s.allianceStationID">{{s.allianceStation}}</option>
    </select></h3>
</td>
</tr>
</table>

<h3> Field Orientation:
    <select class="form-control" type="text" name="Orientation" [(ngModel)] = "" (ngModelChange)="toggle($event)">
        <option>Red On Left</option>
        <option>Blue On Left</option>
    </select></h3>
<br>
Drive Station: 

<a routerLink="/"><button type="button" title="Admin to home">Back to Home</button></a><br>