button {
    text-align: center;
    background-color: #5C068C;
    color: white;
    width: 160px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    border-width: 3px;
  
  }

  .headingFont{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    text-align: center;
  }